<div class="row">
    <div class="col-md-6" style="background-color:#a15fa9">
        <input type="text" id="new-to-do-txt"/>
        <button id="new-to-do-btn">new</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="background-color:#d9deaf"><table id="todo-table" class="table">
            <% for (var n in result){ %>
            <tr><td><a id="<%=result[n].id%>" class="delete-note btn btn-danger btn-xs">x</a></td> <td><%=result[n].note%></td><td><%=moment(result[n].timestamp).fromNow()%></td></tr>
            <% } %>
        </table></div>

</div>




