<div class="container">
    <h4>User Profile</h4>
    <table class="table">
        <thead>
        <tr>
            <th>User Name</th>
            <th><%=username%></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" class="form-control" id="profile-password">
            </td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td>
                <input type="password" class="form-control" id="profile-password-confirm">
            </td>
        </tr>
        </tbody>
    </table>
</div>